<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextRazor Analysis</title>
</head>
<body>
    <header>
        <h1>Evaluate a News Article</h1>
    </header>
    <main>
        <form id="urlForm">
            <label for="name">Enter Text:</label>
            <input type="text" id="name" name="input" required>
            <button type="submit">Analyze</button>
        </form>
        <div id="results"></div>
    </main>
</body>
</html>
